<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css"
          rel="stylesheet">
    <title>{% block title %}{% endblock %} | Track Your Parcel</title>
</head>
<body class="p-5 text-slate-800 bg-slate-50">
<main class="flex flex-col justify-center">
    <div class="mx-auto w-4xl flex flex-col items-center justify-center">
        <img src="/img/tracking-number.png" alt="tracking number icon" width="100" height="100" class="mt-3">
        <h1 class="text-3xl mt-4 font-bold text-center">
            {% block header %}{% endblock %}
        </h1>
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="pb-5 text-slate-500/65">
    <div class="mx-auto w-3xl flex flex-col gap-y-2 align-center justify-center text-center">
        <p class="my-0 pl-1 text-sm">
            <a href="https://twilio.com/try-twilio" target="_blank">Powered by Twilio</a>.
            Inspired by <a href="https://auspost.com.au"
                           target="_blank"
                           class="underline decoration-2 underline-offset-4 hover:text-slate-500 duration-500 ease-in-out transition delay-150">Australia Post</a>
            and <a href="https://auspost.com.au/about-us/about-our-site/australia-post-app"
                   target="_blank"
                   class="underline decoration-2 underline-offset-4 hover:text-slate-500 duration-500 ease-in-out transition delay-150">the AusPost app</a>.
        </p>
        <p class="my-0 mx-auto pl-1 text-sm w-1/2">
            The <a href="https://www.flaticon.com/free-icons/tracking" title="tracking icons" class="underline decoration-2 underline-offset-4 hover:text-slate-500 duration-500 ease-in-out transition delay-150">tracking icon was created by howcolour</a> and the
            <a href="https://www.flaticon.com/free-icons/tracking-number" title="tracking number icons" class="underline decoration-2 underline-offset-4 hover:text-slate-500 duration-500 ease-in-out transition delay-150">tracking number icon was created by vectorsmarket15</a> on Flaticon.
        </p>.
    </div>
</footer>
</body>
</html>
