{% extends '@layout/default.html.twig' %}

{% block header %}Track Your Parcel{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="w-3xl">
        <form class="my-9 mb-7 p-8 border border-slate-200/70 rounded-md w-full bg-white shadow-lg shadow-slate-300/50"
              method="post"
              action="/parcel">
            <div class="flex flex-row gap-x-4">
                <label class="grow">
                    <input type="text"
                           name="tracking_number"
                           maxlength="23"
                           pattern="[a-zA-Z0-9]{23}"
                           aria-label="23-character tracking code"
                           placeholder="Your 23-digit tracking number"
                           required
                           tabindex="1"
                           class="w-full px-6 py-3 pl-15 border-2 border-slate-200 rounded-md bg-[url(/img/location-small.png)] bg-no-repeat bg-left bg-[auto_50px] bg-origin-box">
                </label>
                <input type="submit"
                       name="submit"
                       value="Track"
                       tabindex="2"
                       class="bg-twilio-red hover:bg-twilio-red py-3 px-6 text-white align-center rounded-md hover:cursor-pointer focus:inset-shadow-sm hover:inset-shadow-sm">
            </div>
        </form>
        <p class="text-center mt-0 m-5 px-4 py-4 max-w-2xl text-sm mx-auto text-slate-800/75 bg-slate-200/60 rounded-md">
            The tracking number can only contain characters from A-Z and numbers from 0-9.
        </p>
    </section>
{% endblock %}
